<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="---AA-Compatible" content="IE=edge">
    <meta name= "viewport" content= "width-device-width, initial-scale=1.0">

    <title>About</title>
    <link rel="stylesheet" href="/about.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    
    <div class="content">
        
        <h1>Databases II - Prototype - Neo4j</h1>

        <h2>WH[ Y ]LE</h2>

        <p> WH[ Y ]LE is a social network that allows you to share your thoughts, ideas, and experiences with your friends and family.
        <br> You can meet new people and make new friends.
        <br> 
        <br> This program is a prototype. It is not intended to be used in a production environment.
        </p>

        <h2>Prototype</h2>

        <p>This is the prototype using Neo4j for the database II course.
        </p>

    </div>
</body>
</html>