<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="---AA-Compatible" content="IE=edge">
    <meta name= "viewport" content= "width-device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>

    
    <h1 class="subSectionTittleMain">General Statistics</h1>

    <div class="main_statistics">

        <div class="statistics_container">
            <h2>Number of Pages Saved</h2>
            <p class="statistics_result">15553<span class="gigabytes_text">Pages</span> </p>  
        </div>

        <div class="statistics_container">
            <h2>Space Consumed</h2>
            <p class="statistics_result">386<span class="gigabytes_text">MB</span> </p>  
        </div>

    </div>

</body>
</html> 